{% extends 'flores/base.html' %}

{% block titulo %} Acerca de mi{% endblock titulo %}

{% block contenido %}

    <!-- Header-->
    <header class="py-5" style="background-image: url('https://images.vexels.com/media/users/3/296778/raw/1e8d322eb68291e4a8ea6349f0ecf23e-dise-o-de-patr-n-de-jard-n-de-flores-de-acuarela.jpg')">
    </header>

    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-3">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.bourguignonfloristas.es/media/wysiwyg/Blog/flores-fragancia-nardo.jpg" alt="..." />
            </div>
            <div class="col-lg-6 p-0">
                <h2 class="font-weight-light text-center">Hola, mi nombre es Melissa.</h2>
                <p class="text-center"> Soy profesora de matemática, pero hace aproximadamente un año empece a estudiar en Coder para ser Desarrolladora. Realice todos los cursos de Front End (Desarrollo Web, JavaScript y React JS) y ahora Python.</p>
            </div>
            <div class="col-lg-3">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.bourguignonfloristas.es/media/wysiwyg/Blog/flores-fragancia-jacinto.jpg" alt="..." />
            </div>
        </div>
        <!-- Image-->
        <div class="bg-secondary my-5 py-2 rounded" style="background-image: url('https://images.vexels.com/media/users/3/296778/raw/1e8d322eb68291e4a8ea6349f0ecf23e-dise-o-de-patr-n-de-jard-n-de-flores-de-acuarela.jpg')">
        </div>
        <!-- Last Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-3">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.bourguignonfloristas.es/media/wysiwyg/Blog/flores-fragancia-lila.jpg" alt="..." />
            </div>
            <div class="col-lg-6 p-0">
                <h3 class="font-weight-light text-center">Sobre este proyecto.</h3>
                <p class="text-center"> Este proyecto fue creado para el curso de Python, de CoderHouse. <br> En este proyecto intenté implementar todo lo que fuimos trabajando a lo largo del curso, como por ejemplo, manejo de sesiones, registro de usuarios, envío y lectura de mensajes, listar productos y acceder a sus detalles, entre otras cosas. </p>
            </div>
            <div class="col-lg-3">
                <img class="img-fluid rounded mb-4 mb-lg-0" src="https://www.bourguignonfloristas.es/media/wysiwyg/Blog/flores-fragancia-lavanda.jpg" alt="..." />
            </div>
        </div>
        <!-- Image-->
        <div class="bg-secondary my-5 py-5 rounded" style="background-image: url('https://images.vexels.com/media/users/3/296778/raw/1e8d322eb68291e4a8ea6349f0ecf23e-dise-o-de-patr-n-de-jard-n-de-flores-de-acuarela.jpg')">
        </div>
        
    </div>

{% endblock contenido %}