{% extends 'flores/base.html' %}

{% block titulo %} Inicio {% endblock titulo %}

{% block contenido %}

    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://t2.ev.ltmcdn.com/es/posts/6/0/7/flor_del_cerezo_prunus_3706_4_600.jpg" alt="..." /></div>
            <div class="col-lg-5">
                <h1 class="font-weight-light">Bienvenidos a Las Flores</h1>
                <p class="text-justify"> {% lorem 1 b %}</p>
            </div>
        </div>
        <!-- Image-->
        <div class="bg-secondary my-5 py-5 rounded" style="background-image: url('https://images.vexels.com/media/users/3/296778/raw/1e8d322eb68291e4a8ea6349f0ecf23e-dise-o-de-patr-n-de-jard-n-de-flores-de-acuarela.jpg')">
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">Productos</h2>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
                    </div>
                    <a class="btn btn-outline-dark m-5" href="{% url 'flores_productos' %}">
                        <i class="bi-flower1 me-1"></i>
                        Ver más
                    </a>
                </div>
            </div>
            
        </div>
    </div>

{% endblock contenido %}