{% extends 'flores/base.html' %}

{% block titulo %} Mensaje Nuevo {% endblock titulo %}

{% block contenido %}

    <!-- Header-->
    <header class="py-5" style="background-image: url('https://images.vexels.com/media/users/3/296778/raw/1e8d322eb68291e4a8ea6349f0ecf23e-dise-o-de-patr-n-de-jard-n-de-flores-de-acuarela.jpg')">
    </header>

    <!-- Return to messages-->
    <div class="container px-4 px-lg-5 my-3">
        <a class="nav-link pe-auto" href="{% url 'mensajes'%}"> < Ir a mensajes</a>
    </div>

    <!-- Content-->
    <div class="container px-5 px-lg-5 m-2">
        <div>
            <h3 class="my-3 py-3">Enviar un nuevo mensaje:</h3>
        </div>
        <div>
            <form class="mx-5 px-3 my-2" method="POST"> {% csrf_token %}
                {{form.as_p}}
                <input class="btn btn-outline-dark m-3" type="submit" value="Enviar">
                <a class="btn btn-outline-dark" href="{% url 'mensajes' %}">Cancelar</a>
            </form>
        </div>
    </div>

    <!-- Image-->
    <div class="bg-secondary m-4 py-3 rounded" style="background-image: url('https://images.vexels.com/media/users/3/296778/raw/1e8d322eb68291e4a8ea6349f0ecf23e-dise-o-de-patr-n-de-jard-n-de-flores-de-acuarela.jpg')">
    </div>

{% endblock contenido %}