{% extends 'authentication/base.html' %}

{% block contenido %}

	<form class="login100-form validate-form" method="POST"> 
		{% csrf_token %}
		<span class="login100-form-title p-b-49">
			Registrarse
		</span>

		{% comment %} {{form.as_p}}
		<input type="submit" value="registrarse"> {% endcomment %}

		<div class="wrap-input100 validate-input m-b-23" data-validate = "Username is reauired">
			<span class="label-input100">Usuario</span>
			<input class="input100" type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
			<span class="focus-input100" data-symbol="&#xf206;"></span>
		</div>

		<div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
			<span class="label-input100">Contraseña</span>
			<input class="input100" type="password" name="password1" required="" id="id_password1">
			<span class="focus-input100" data-symbol="&#xf190;"></span>
		</div>

		<div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
			<span class="label-input100">Confirmar contraseña</span>
			<input class="input100" type="password" name="password2" required="" id="id_password2">
			<span class="focus-input100" data-symbol="&#xf190;"></span>
		</div>

		
		<div class="container-login100-form-btn mt-5">
			<div class="wrap-login100-form-btn">
				<div class="login100-form-bgbtn"></div>
				<button class="login100-form-btn" type="submit">
					Registrarse
				</button>
			</div>
		</div>

	</form>
{% endblock contenido %}