{% extends 'flores/base.html' %}

{% block titulo %} Agregar Avatar {% endblock titulo %}

{% block contenido %}

    <!-- Header-->
    <header class="py-5" style="background-image: url('https://images.vexels.com/media/users/3/296778/raw/1e8d322eb68291e4a8ea6349f0ecf23e-dise-o-de-patr-n-de-jard-n-de-flores-de-acuarela.jpg')">
    </header>

    <!-- Avatar-->
    <div class="container px-4 px-lg-5 my-5">

        <h2>Avatar</h2>
        <img src="{{avatar}}">

        <p>Cambiar avatar:</p>

        <form method="post" enctype="multipart/form-data"> {% csrf_token %}
            {{formAvatar.as_p}}
            <input type="submit" value="Cambiar">
            <a href="{% url 'flores_inicio' %}">Cancelar</a>
        </form>

    </div>


    <!-- Image-->
    <div class="bg-secondary mx-4 my-5 py-3 rounded" style="background-image: url('https://images.vexels.com/media/users/3/296778/raw/1e8d322eb68291e4a8ea6349f0ecf23e-dise-o-de-patr-n-de-jard-n-de-flores-de-acuarela.jpg')">
    </div>



{% endblock contenido %}